---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contatti">
  <div class="lg:grid lg:grid-cols-3">
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02VmUPzaThDA4mfoaEX1qT7meBAEvyyUdwswUP6GUNDRwK8CpYdf42H2pDm7Xkdnopl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
  </div>
</Layout>
