---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contatti">
  <div class="lg:grid lg:grid-cols-3">
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02soLyyaeiJQy24XtnaqHDqEn6t5dxjXzGwSBJVHz7vpvMeVZXh36mBkt6E512NnYrl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0fBCgZMSsnCzTQBGpGpSnjGqCpRDGhTi81FyaMEdtHfJdCyWD5iF1Ap2bNcrNqjfJl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div><div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid02KZLiDJKmq31DsjhL2nbnwNU3CpEG1CkcRUKvGLKaeu2HCNsUxeeaujpkmFV4P5Jfl&show_text=true&width=500"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
    <div class="w-full h-[700px]">
      <iframe
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcomfortrinnovabile%2Fposts%2Fpfbid0aEdkeKP9uDb3G7gFzAtXeARojQ38LK7Fppf9FKyPU4yhYC5N2mcQ7wE91ht4CZUbl&show_text=true&width=500"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe><iframe
        src=""
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe><iframe
        src=""
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        class="h-[700px] w-11/12 m-auto"></iframe>
    </div>
  </div>
</Layout>
